<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>cupwire</title>
    <%= stylesheet_link_tag 'hotink', :media => 'all', :cache => true %>
    <%= stylesheet_link_tag 'cupwire', :media => 'all', :cache => true %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'builder' %>
	<%= javascript_include_tag 'overlay' %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'layouts/flashes' -%>
    <%= yield %>
    <%= render :partial => 'layouts/javascript' %>
  </body>
</html>
